@import "../../../styles/variables.scss";

.matrix_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.matrix_box {
  box-shadow: 0rem 0.1rem 0.4rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 1fr;
}

.line_div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section1 {
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section2 {
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: $small-screen) {
  .matrix_container {
    grid-template-columns: 1fr 1fr;
  }
}
