@import "../../styles/variables.scss";
.popUp {
  border-radius: $border-radius;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  backdrop-filter: blur(2000px);
  box-shadow: 24px;
  padding: 0 0 3.2rem 0;
  height: fit-content;
  overflow-x: auto;
  .header {
    height: 8rem;
    width: 100%;
    overflow: hidden;
    background-color: $header-color;
    text-align: left;
    display: flex;
  }
  .titleContainer {
    margin-left: 3rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .child {
    width: 100%;
  }
  .display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img {
    margin-top: -1rem;
    margin-left: -0.5rem;
  }

  .close_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
