@import "../../../styles/variables.scss";

.outerContainer {
  margin-top: 4rem;
  box-shadow: $boxShadow;
  border-radius: $border-radius;
  height: auto;
  padding: 2rem;
}

.permissionItem {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  margin-right: 2.4rem;

  p {
    margin-right: 0.8rem;
    @media screen and (min-width: 768px) {
      margin-right: 2.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 2.4rem;
    margin-right: 10.8rem;
  }
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
