@import "../../styles/variables.scss";

.password_box_container {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 2.4rem;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 2rem;

  .password_form_container {
    margin-top: 2.4rem;
  }
}
.password_box_container::-webkit-scrollbar {
  display: none;
}

.error_text {
  color: $error-text;
}
.input_box {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

.inner_wrapper {
  display: flex;
  gap: 1rem;
}
.profile_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile_editBtn {
  padding: 2.2rem 9.6rem !important;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}
.button_container {
  display: flex;
  gap: 1rem;
  margin-top: 2.4rem;
}

.divider_container {
  margin-top: 2rem;
}
