@font-face {
  font-family: "Metropolis";
  src: url("./fonts/metropolis.regular.otf") format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Metropolis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
/* @media (max-width: 1024px) {
  html {
    font-size: 70%;
  }
} */
@media (max-width: 768px) {
  /* HOW IT IS CALCULATED ==>
* Suppose font-size used in figma is 24px for say H6
* As we have defined intially fontsize = 62.5% hence we must have used 2.4rem instead of 24px.
* This is to simplify calculations. As 1 Rem = 16px. So 16px x 62.5 = 10 px. Hence now 1rem = 10px. 
* Now at this breakpoint, what would be actual renderd font-size ? 
* ==> 2.4rem x 16 x .45 = 17.28 px. Means for screens with max-width 768px, the font-size would automatically reduce to 17.28 from 24px ! 
*/

  html {
    font-size: 45%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 35%;
  }
}
/* @media (max-width: 375px) {
  html {
    font-size: 30%;
  }
} */
