@import "../../../../styles/variables.scss";

.addedOn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topHeader {
  margin-bottom: 2rem;
}

.paginationBox {
  margin-top: 2rem;
}
