@import "../../../../styles/variables.scss";

.wash_header_box {
  display: flex;
  gap: 2.2rem;
}

.wash_count_box {
  border-radius: $border-radius;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-top: 1rem;
  padding-left: 1.1rem;
  padding-bottom: 1rem;
}

.tabel_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $small-screen) {
  .wash_header_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }
  .wash_count_box {
    margin-right: 4%;
    padding-top: 1.2rem;
  }
}
