@import "../../../../styles/variables.scss";

.cms_container {
  margin-top: 3.6rem;
  margin-bottom: 25rem; // Added to display content which gets behind common footer.
}

.cms_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cms_tabel_box {
  margin-top: 2.2rem;
}

.cms_button {
  padding: 2.2rem 5.1rem !important;
}

.container_box {
  padding: 2rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  .input_box {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
  }

  .cms_btn_box {
    display: flex;
    gap: 2rem;
  }

  .save_button {
    padding: 2.2rem 9.2rem;

    &.disable {
      background-color: $secondary-text-color;
      color: $white-color;
    }
  }

  .cancel_btn {
    padding: 2.2rem 9.2rem;
  }
  .status_lable {
    font-weight: 500 !important;
    color: $secondary-text-color;
  }
}
.form_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.delete_icon {
  color: $red1;
}
