@import "../../../../styles/variables.scss";

.mappingAccordionContainer {
  border: 0.2rem solid $blue4;
  border-radius: $border-radius !important;
  box-shadow: inset 0 0 0rem 0.1rem $blue4;
}

.mappingAccordionSummary {
  background-color: $primary !important;
  border-radius: $border-radius !important;
  color: white !important;
}

.expandMoreIconStyle {
  width: 4.5rem;
  height: 4.5rem;
  background-color: $white-color;
  border-radius: $border-radius;
  color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_record {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
