@import "../../styles/variables.scss";

.password_box_container {
  border: 1px solid $border-color;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 24px;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px;

  .password_form_container {
    margin-top: 24px;
  }
}
.password_box_container::-webkit-scrollbar {
  display: none;
}

.error_text {
  color: $error-text;
}

.inner_box{
  display: flex;
  align-items: center;
  gap: 20px;
}

.linediv{
  color: $secondary-text-color;
  font-weight: 500 !important;
}