@import "../../../../../styles/variables.scss";

.grandTotalContainer {
  padding: 2rem;
  background-color: $green2;
  border-radius: $border-radius;
  color: $text-main;
}

.dottedDivider {
  border-top: 0.1rem dotted $secondary-text-color;
  width: "100%";
  margin-top: 2rem;
  margin-bottom: 2rem;
}
